<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
">
	<context:component-scan base-package="com.lagou" />

	<!--测试Bean的生命周期时，使用此类-->
	<!--
	<bean id="myBean" class="com.lagou.edu.pojo.MyBean" init-method="initMethod" destroy-method="destroyMethod" lazy-init="true">
		<property name="username" value="zs" />
		<property name="password" value="123" />
	</bean>
	-->

	<!--测试循环依赖使用下面两个类-->
	<bean id="myBeanA" class="com.lagou.edu.pojo.MyBeanA" scope="singleton">
		<property name="myBeanB" ref="myBeanB" />
	</bean>
	<bean id="myBeanB" class="com.lagou.edu.pojo.MyBeanB" scope="singleton">
		<property name="myBeanA" ref="myBeanA" />
	</bean>
</beans>