<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">
    <context:component-scan base-package="com.lagou" />

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driverClassName}" />
        <property name="url" value="${url}" />
        <property name="username" value="${jdbcUsername}" />
        <property name="password" value="${jdbcPassword}" />
     </bean>




    <!--xml方式实现aop-->
    <!--<bean id="logAspect" class="com.lagou.edu.aop.LogAspect" />-->
    <!--aop配置-->
    <!--<aop:config>-->
        <!--切入点-->
    <!--    <aop:pointcut id="logPointcut" expression="execution(* com.lagou.edu.service.TransferService.*(..))"/> -->
        <!--切面-->
    <!--    <aop:aspect id="logAspect" ref="logAspect" >
            <aop:before method="beforeMethod" pointcut-ref="logPointcut" />
            <aop:after method="afterMethod" pointcut-ref="logPointcut" />
            <aop:after-returning method="afterReturningMethod" returning="retVal" pointcut-ref="logPointcut" />
            <aop:after-throwing method="afterThrowingMethod" throwing="e" pointcut-ref="logPointcut" />
        </aop:aspect>
    </aop:config>
    -->

    <!--半xml半注解方式.  切面类和切入点都用注解来配置，开启注解驱动用xml来配置-->
    <aop:aspectj-autoproxy />
</beans>